{% extends 'base.html.twig' %}

{% block title %}Contact Me{% endblock %}

{% block main_container %}

    {{ parent() }}
    
    <div data-controller="contact-me">
        <p>This is the contact me page content.</p>
    </div>

{% endblock %}
