{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block main_container %}
	<div class="container">
		<h1>New Contact</h1>

		{{ form(form) }}
		
		<a href="{{ path('app_contact_me_index') }}" class="btn btn-secondary mt-3">Back to list</a>
	</div>
{% endblock %}
