{% extends 'base.html.twig' %}

{% block title %}Intro{% endblock %}

{% block main_container %}

    {{ parent() }}
    
    <div>
        <p>This is the intro page content.</p>
    </div>
{% endblock %}
