{% extends 'base.html.twig' %}

{% block title %}Tech Stack{% endblock %}

{% block main_container %}

    {{ parent() }}
    
    <div>
        <p>This is the tech stack page content.</p>
    </div>
{% endblock %}
