{% extends 'base.html.twig' %}

{% block title %}Reviews{% endblock %}

{% block main_container %}

    {{ parent() }}
    
    <div>
        <p>This is the reviews page content.</p>
    </div>
{% endblock %}
