{% extends 'base.html.twig' %}

{% block title %}Sign up
{% endblock %}

{% block main_container %}
	<main class="form-signup w-75 m-auto" data-controller="email-check">

		<div class="mb-3 text-center">
			<h1>carmineplaitano.it - CMS</h1>
			<h5>Sign up</h5>
			<a class="mt-3" href={{ path('app_login') }}>Log in</a>
		</div>

        {% include('pages/security/_partials/form.signup.html.twig') %}
	</main>
{% endblock %}
